@import './assets/scss/abstracts/mixins';

body {
  // font-family: 'Roboto Condensed', sans-serif;
  // font-weight: 300;
  line-height: 1.7;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('~/assets/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('~/assets/fonts/RobotoCondensed-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('~/assets/fonts/RobotoCondensed-Bold.ttf');
  font-weight: bold;
}
